.bookmarks.el
.emacs.desktop
.emacs.desktop.lock
.emacs.term.desktop
.emacs.term.desktop.lock
/.python-environments
/.session
/session.*
ac-comphist.dat
/auto-save-file/*
/auto-save-list/*
/emacs-server-nw
smex-items
tramp
lisp-snippets/az-common-env.el
/.emacs-bin/
/.emacs-env
/.emacs-global-env
/.cmake-project-lists.el
/init-ede-projects.el
/elpa/gh-md-readme.txt
/elpa/gh-readme.txt
/elpa/gitlab-readme.txt
/term/.multi-term-config.el
/.emacs.desktop~
